@model MVC_project.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("_User")

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to Home page", "Index", null, new { @class = "btn btn-default" })
</p>
