
@{
    ViewBag.Title = "ErrorInApp";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .text {
            color:navy;
            text-shadow:0.5px 0.5px lightblue;
        }
    </style>
</head>
<body>
    <hgroup class="text">
        <h1>Error</h1>
        <h2>An error occurred while processing your request.<br>Please contact Admin.</h2>
    </hgroup>
</body>
</html>

